<div class="flex bottom_10">
    <mat-form-field class="search_input input_style">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="search here" class="search-input">
    </mat-form-field>
    <button class="button_filter" mat-raised-button>
        <mat-icon>settings</mat-icon>
        Filter
    </button>
    <button class="button_add" mat-raised-button color="warn">
        <mat-icon>add</mat-icon>
        New hire
    </button>
</div>
<div class="flex bottom_10">
    <input class="input_style input_dateFilter" type="date">
    <select class="input_style input_contractTypeFilter" name="" id="">
        <option value="">Contract type</option>
        <option value="">Opcion</option>
    </select>
    <input class="input_style input_contractNameFilter" placeholder="Contractor Name" type="text">
    <select class="input_style input_statusFilter" name="" id="">
        <option value="">Status</option>
        <option value="">Opcion</option>
    </select>
</div>