mat-toolbar {
    background-color: white;
    display: flex;
    align-items: center;
}
.dropdown {
    display: flex;
    position: relative;
    margin-left: auto !important;
    margin: 10px;
    .img_profile {
        margin: auto 20px;
        background-color: red;
        border-radius: 50%;
        //align-items: center;
        //align-content: center;
        height: 40px;
        width: 40px;
        background-image: url("https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg");
        background-size: cover;
    }
    mat-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        color: rgb(214, 214, 214);
    }
}
.items_container {
    display: flex;
    width: 50%;
}
.container_logo {
    width: 25%;
    display: flex;
    align-content: center;
    align-items: center;
    img {
        width: 180px;
        height: 50px;
        margin-left: 20px;
    }
}
.example-spacer {
    flex: 1 1 auto;
}
